<template>
  <div id="app">
    <ColorGrid />
    <FlashMessage />
  </div>
</template>

<script>
import ColorGrid from "@/components/ColorGrid";
//import FlashMessage from "@smartweb/vue-flash-message";
export default {
  name: "App",
  components: {
    ColorGrid
    //FlashMessage
  }
};
</script>
